.search-movie-container {

    background-size: cover;
    min-height: 100vh;
}

.search-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px; 
    font-weight: bold;  
}


.search-button-container {
    display: flex;
    gap: 2px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    justify-content: center;
    background-color: 	#E6E6FA;
    color: rgb(98, 0, 25);
}


.search-title-button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 0;
}


.search-title-button.selected {
    background-color: rgb(98, 0, 25);
    color:	#E6E6FA;
}


.search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: rgb(98, 0, 25);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease; 
    outline: none;
}


.search-button:hover {
    background-color: #45a049;
}


.search-button:active {
    background-color: #0a470e;
    transform: scale(0.98);
}


.search-input[type="text"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 20px;
}

.search-button {
    display: block;               
    margin: 0 auto;               
    padding: 10px 20px;           
    font-size: 16px;              
    border-radius: 5px;           
    cursor: pointer;             
    margin-bottom: 20px;          
}


.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-hero-section {
  position: relative;
  width: 100%;
  height: 35vh;
  background-image: url("/purple.jpg");
  background-size: cover;
  background-position: center;
}

.search-hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}





.search-welcome-title {
  color: black;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
               0 0 20px rgba(255, 255, 255, 0.6), 
               0 0 30px rgba(255, 255, 255, 0.4);
}